<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/header-nav-bar.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="productId" value="<%= p._id %>">
                                <button type="submit" class="btn danger">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                  <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Order Now!!!</button>
                  </form>
                </div>
            <% } else { %>
                <h1>No products in your cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/scripts.ejs') %>
    </body>
</html>